<ion-view view-title="predicto">
    <!-- <ion-header-bar class="bar-stable bar bar-header positive" align-title="center"><button ng-click="$ionicGoBack()" class="button back-button hide buttons  button-clear header-item"><i class="icon ion-ios-arrow-back"></i> 
            <span class="back-text"><span class="default-title">Back</span><span class="previous-title hide"></span></span></button>
        <div class="buttons buttons-left header-item"><span class="left-buttons">
                <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
        </button>
            </span></div>
        <div class="title title-center header-item" style="left: 45px; right: 45px;">predicto</div>
    </ion-header-bar> -->
    <ion-nav-bar class="bar-energized" align-title="center">
        <ion-nav-back-button class="button-icon ion-arrow-left-c">
            <button ng-click="$ionicGoBack()" class="button back-button hide buttons  button-clear header-item"><i class="icon ion-ios-arrow-back"></i> 
            </button>
            <div class="buttons buttons-left header-item">
                <span class="left-buttons">
                <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
               </button>
            </span>
            </div>
        </ion-nav-back-button>
        <ion-nav-buttons side="right">
            <img src="img/price.png" alt="" width="25">
        </ion-nav-buttons>
    </ion-nav-bar>
    <ion-content name="menuContent">
        
    </ion-content>
</ion-view>