<ion-view view-title="Predicto">
    <ion-content class="calender bg-black">
        <!-- <div class="card text-center" ng-repeat="match in matchList">
            <div class="item item-divider" ui-sref="app.home({id:match._id})">
                <div class="text-center">
             <strong> Match No {{match.matchNumber}}</strong> 
                </div>
                <div class="row">
                    <div class="col">
                        <div class="mumbai-vs-riders pad-tb">
                            <div class="bor-right">
                                <h4>{{match.team1.shortName}}</h4>
                                <div class="padding">
                                    <span>VS</span>
                                </div>
                                <h4>{{match.team2.shortName}}</h4>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="date-time">
                            <img src="img/clock.png">
                            <div class="padd-9">
                                <span>{{match.startingTime|date}}</span>
                            </div>
                            <div>
                                <span>{{match.startingTime|date:'HH:mm'}}</span>
                            </div>
                            <div class="padd-9">
                                    <span>{{match.startingTime|date:'EEEE'}}</span>
                                </div>
                        </div>
                    </div>
                </div>
                <div class="text-center">
                    Predict Here
                </div>
               </div>
        </div> -->
        <div>
           <div class="matches" ui-sref="app.winner">
               <img src="img/trophy.png" alt="trophyimg" class="trophy">
                <h4 class="font-Play-Bold d-inline">Who will win the IPL?</h4>
               <div class="predict-here">
                Predict here
            </div>
        </div>
        </div>
        <div ng-repeat="match in matchList">
            <div class="day-bg">
                <div class="d-inline"> {{match.startingTime|date}}</div>
                <div class="d-inline match-time">{{match.startingTime|date:'hh:mm'}}</div>
            </div>
            <div class="matches" ui-sref="app.home({id:match._id})">
                    <span class="close-time">Close time: {{match.startingTime|timeFilter}}</span>
                <p>Match No {{match.matchNumber}}, {{match.startingTime|date:'EEEE'}}</p>
               <h4 class="font-Play-Bold">{{match.team1.teamName}}</h4>
                <h4 class="font-Play-Bold">{{match.team2.teamName}}</h4>
                <div class="predict-here" >
                    Predict here
                </div>
            </div>
        </div>
   </ion-content>
</ion-view>