<ion-view view-title="predicto">
    <ion-content class="calender">
        <div class="card text-center" ng-repeat="card in carddata">
            <div class="item item-divider">
                <div class="row">
                    <div class="col">
                        <div class="mumbai-vs-riders">
                            <div class="bor-right"> 
                                 <h2>{{card.city}}</h2>
                                <div class="padding">
                                    <span>VS</span>
                                </div>
                                <h2>{{card.city2}}</h2></div>
                          </div>
                    </div>
                    <div class="col">
                        <div class="date-time">
                            <img src="img/clock.png">
                            <div class="padd-9">
                                <span>{{card.date}}</span>
                            </div>
                            <div>
                                <span>{{card.time}}</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>