<ion-content>
        <div class="card">
                <div class="item item-divider">
                  <div class="row">
                    <div class="col">
                        <div>
                           <h2>Mumbai Indians</h2>
                           <h1>VS</h1>
                           <h2>Knight Riders</h2>
                       </div>
                   </div>
               <div class="col">
                   <div>
                       <img src="img/clock.png">
                       <p>10/03/2016</p>
                       <p>10/03/2016</p>
                   </div>
               </div>
                  </div>
                </div>
            </div>
            <div class="card">
                    <div class="item item-divider">
                      <div class="row">
                        <div class="col">
                            <div>
                               <h2>Mumbai Indians</h2>
                               <h1>VS</h1>
                               <h2>Knight Riders</h2>
                           </div>
                       </div>
                   <div class="col">
                       <div>
                           <img src="img/clock.png">
                           <p>10/03/2016</p>
                           <p>10/03/2016</p>
                       </div>
                   </div>
                      </div>
                    </div>
                </div>
                <div class="card">
                        <div class="item item-divider">
                          <div class="row">
                            <div class="col">
                                <div>
                                   <h2>Mumbai Indians</h2>
                                   <h1>VS</h1>
                                   <h2>Knight Riders</h2>
                               </div>
                           </div>
                       <div class="col">
                           <div>
                               <img src="img/clock.png">
                               <p>10/03/2016</p>
                               <p>10/03/2016</p>
                           </div>
                       </div>
                          </div>
                        </div>
                    </div>
</ion-content