<ion-view view-title="Home">
    <ion-content scroll="false">
        <ion-slides options="options" slider="data.slider">
            <ion-slide-page ng-repeat="data in teamSlider track by $index">
                <div style="display:flex; align-items: center; justify-content:center">
                    <div ng-repeat="img in data.img track by $index" class=" test" style="flex:1">
                        <img ng-src="{{img}}" alt="">
                    </div>
                </div>
                <div class="padding">time:</div>
                <div>VS</div>
            </ion-slide-page>
        </ion-slides>
    </ion-content>
</ion-view>