<ion-view view-title="Predicto">
    <ion-content>
        <div class="leaderboard-section">
            <div class="page-title text-center">
                <h2 class="padding">Leaderboard</h2>
            </div>
            <div class="leaderboard-desc">
                <ul class="list leaderboard-list padding-left padding-right">
                    <li class="item" ng-repeat="item in leaderboard">
                        <span class="name">{{item.name}}</span>
                        <strong class="item-note item-number">{{item.points}}</strong>
                    </li>
               </ul>
            </div>
        </div>
    </ion-content>
</ion-view>