<ion-view view-title="predicto">
    <ion-content>
        <div class="leaderboard-section">
            <div class="page-title text-center">
                <h2 class="padding">leaderboard</h2>
            </div>
            <div class="leaderboard-desc">
                <ul class="list leaderboard-list padding-left padding-right">
                    <li class="item" ng-repeat="item in leaderboard">
                        <span class="name">{{item.name}}</span>
                        <span class="item-note item-number">{{item.number}}</span>
                    </li>
               </ul>
            </div>
        </div>
    </ion-content>
</ion-view>