<ion-content>
    <div class="text-center">
        <h3>Mumbai Indians</h3>
        <h1>VS</h1>
        <h3>Knight Riders</h3>
    </div>
    <div>
        <div>
            <div>
                <span>live</span>
            </div>
            <div>
                <span>Score:</span>
                <span>123/3</span>
                <span>12.3</span>
            </div>
            <div> current run rate 6.36</div>
            <div>
                <span>Sharma:</span>
                <span>10</span>
                <span>15</span>
            </div>
            <div>
                <span>Dhavan:</span>
                <span>10</span>
                <span>15</span>
            </div>
            <div>
                <span>Mustafizur:</span>
                <span>10</span>
                <span>15</span>
            </div>
            <div>
                <span>This Over:</span>
                <span>10</span>
                <span>15</span>
            </div>
        </div>
    </div>
</ion-content>