<ion-side-menus enable-menu-with-back-views="false">
    <ion-side-menu-content>
            <ion-nav-bar class="bar-energized" align-title="center">
                    <ion-nav-back-button class="button-icon ion-arrow-left-c">
                        <button ng-click="$ionicGoBack()" class="button back-button hide buttons  button-clear header-item"><i class="icon ion-ios-arrow-back"></i> 
                        </button>
                        <div class="buttons buttons-left header-item">
                            <span class="left-buttons">
                            <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
                           </button>
                        </span>
                        </div>
                    </ion-nav-back-button>
                    <ion-nav-buttons side="right">
                        <img src="img/price.png" alt="" width="25">
                    </ion-nav-buttons>
                </ion-nav-bar>
        <ion-nav-view name="menuContent"></ion-nav-view>
    </ion-side-menu-content>

    <ion-side-menu side="left">
        <ion-content>
            <ion-list  class="playlists">
                <ion-item ui-sref-active="actives" menu-close ui-sref="app.home">
                    home
                </ion-item>
                <ion-item menu-close ui-sref="app.profile">
                    profile
                </ion-item>
                <ion-item  ui-sref-active="actives" menu-close ui-sref="app.leaderboard">
                    leaderboard
                </ion-item>
                <ion-item menu-close ui-sref="app.calender">
                    calender
                </ion-item>
                <ion-item menu-close>
                    all mathches
                </ion-item>
                <ion-item menu-close>
                    gratification
                </ion-item>
                <ion-item menu-close ui-sref="app.terms">
                    terms and conditions
                </ion-item>
            </ion-list>
        </ion-content>
    </ion-side-menu>
</ion-side-menus>