<ion-side-menus enable-menu-with-back-views="false">
    <ion-side-menu-content>
        <ion-nav-bar class="bar-energized" align-title="center">
            <ion-nav-back-button class="button-icon ion-arrow-left-c">
                <button ng-click="$ionicGoBack()" class="button back-button hide buttons  button-clear header-item">
                    <i class="icon ion-ios-arrow-back"></i>
                </button>
                <div class="buttons buttons-left header-item">
                    <span class="left-buttons">
                        <!-- <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
                        </button> -->
                        <button type="button" class="navbar btn-header"  menu-toggle="left" ng-class="{'hamburger-cross' : showMenu == true, '': showMenu == false}"
                        ng-click="getMenu();">
                        <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    </button>
                    </span>
                </div>
            </ion-nav-back-button>
            <ion-nav-buttons side="right" class="profile-item">
                <a class="profile-img" ui-sref="app.profile">
                    <img class="img-responsive" ng-src="{{userDetail.photo | serverimage}}" ng-if="!showuserProfImg">
                    <img class="img-responsive" src="img/download.png" ng-if="showuserProfImg">
                    <!-- <i class="icon ion-checkmark-circled icon-color"></i> -->
                </a>
            </ion-nav-buttons>
        </ion-nav-bar>
        <ion-nav-view name="menuContent"></ion-nav-view>
    </ion-side-menu-content>
    <ion-side-menu side="left">
        <ion-content>
            <ion-list class="playlists">
                <!-- <ion-item ui-sref-active="actives" menu-close ui-sref="app.home" ng-class="{'hamburger-cross' : showMenu == true, '': showMenu == false}" ng-click="getMenu();">
                    home
                </ion-item> -->
                <ion-item ui-sref-active="active" menu-close ui-sref="app.leaderboard" ng-class="{'hamburger-cross' : showMenu == true, '': showMenu == false}" ng-click="getMenu();">
                    Leaderboard
                </ion-item>
                <ion-item  ui-sref-active="active" menu-close ui-sref="app.profile" ng-class="{'hamburger-cross' : showMenu == true, '': showMenu == false}" ng-click="getMenu();">
                    Profile
                </ion-item>
                
                <ion-item ui-sref-active="active" menu-close ui-sref="app.calender" ng-class="{'hamburger-cross' : showMenu == true, '': showMenu == false}" ng-click="getMenu();">
                    Predict
                </ion-item>
                <!-- <ion-item menu-close ui-sref="app.live" ng-class="{'hamburger-cross' : showMenu == true, '': showMenu == false}" ng-click="getMenu();">
                    all mathches
                </ion-item> -->
                <ion-item ui-sref-active="active" menu-close ui-sref="app.prize" ng-class="{'hamburger-cross' : showMenu == true, '': showMenu == false}" ng-click="getMenu();">
                    Gratification
                </ion-item>
                <ion-item ui-sref-active="active" menu-close ui-sref="app.terms" ng-class="{'hamburger-cross' : showMenu == true, '': showMenu == false}" ng-click="getMenu();">
                    Terms and Conditions
                </ion-item>
            </ion-list>
        </ion-content>
    </ion-side-menu>
</ion-side-menus>