<ion-view view-title="Prize">
    <ion-content>
        <div class="prize-section">
            <div class="page-title text-center">
                <h2 class="padding">monthly prizes</h2>
            </div>
            <div class="prize-desc-area">
                <div class="prize-img">
                    <img src="img/price.png" alt="won prize">
                </div>
                <ul class="prize-desc-list">
                    <li> Signed KXIP Jersey</li>
                    <li>Meet & Greet with the team</li>
                </ul>
            </div>
        </div>
    </ion-content>
</ion-view>