<ion-view view-title="predicto">
    <ion-content>
        <div class="prize-section">
            <div class="page-title text-center">
                <h2 class="padding">monthly prizes</h2>
            </div>
            <div class="prize-desc-area">
                <div class="prize-img">
                    <img src="img/mobile.png" alt="won prize">
                    <div class="text-center">
                        iphone X
                    </div>
                </div>
              
            </div>
        </div>
    </ion-content>
</ion-view>