<ion-view>
    <ion-content>
        <div>
            <div class="profile-img">
                <img src="img/profile.png" alt="">
            </div>
            <h4>sarvesh bramhe</h4>
        </div>
        <!-- <div class="row">
            <div class="col-33">
                <h3>birthday</h3>
                <h3>Number</h3>
                <h3>Email</h3>
                <h3>score</h3>
            </div>
            <div class="col-67">
                <span>13/04/1994</span>
            </div>
        </div> -->
        <table>
            <tr>
                <td>birthday</td>
                <td>13/04/2016</td>
            </tr>
            <tr>
                <td>Number</td>
                <td>9404849912</td>
            </tr>
            <tr>
                <td>Email</td>
                <td>suresh@g.com</td>
            </tr>
            <tr>
                <td>score</td>
                <td>398</td>
            </tr>
        </table>
    </ion-content>
</ion-view>