<ion-view view-title="Predicto">
    <ion-content>
        <div class="user-profile">
            <div class="profile-img">
                <img class="img-responsive" ng-src="https://graph.facebook.com/100001293139521/picture?width=1024&height=1024
                " ng-if="!showuserProfImg">
                <img src="img/download.png" ng-if="showuserProfImg">
            </div>
            <h4 class="font-Play-Bold text-center">{{userDetail.name}}</h4>
        </div>
        <div>
            <table class="table-data text-center">
                <!-- <tr>
                    <td>birthday:</td>
                    <td>
                        <span>{{userDetail.dob|date}}</span>
                    </td>
                </tr> -->
                <!-- <tr>
                    <td>number:</td>
                    <td>
                        <span>{{userDetail.mobile}}</span>
                    </td>
                </tr> -->
                <tr>
                    <td>Email</td>
                </tr>
                <tr class="padding" >
                    <td >
                    {{userDetail.email}}kishoei.bihade@gmail.com
                    </td>
                </tr>
                <tr class="padding">
                    <td>Score:</td>
                 </tr>
                <tr class="mar-t">
                    <td >
                        <p>{{userDetail.points}}456</p>
                    </td>
                </tr>
            </table>
        </div>

    </ion-content>
</ion-view>