<ion-view view-title="Terms & Conditions">
    <ion-content>
        <div class="prize-section">
            <!-- <div class="page-title text-center">
                <h2 class="padding">Terms & Conditions</h2>
            </div> -->
            <div class="terms-condition">
                <ul class="list">
                    <li>
                        Only answers that will be submitted before the event that has to be predicted occurs will be considered.</li>
                    <li>
                        Every correct answer will fetch you 3 points and will be added to your overall tally.</li>
                    <li>
                        Winners uwith the most points at the end of the month will be gratified.</li>
                    <li> You must sign in using your social media handles and phone number.</li>
                    <li>Only the person under whose name the account is registered will be applicable to accept the gratification.</li>
                    <li>Predicto reserves the right to change the rules of the competition without prior notice. </li>
                    <li>All winners must have valid ID proof without which they will not be sent the prize.
                    </li>
                </ul>
            </div>
        </div>
    </ion-content>
</ion-view>